header {
    border-style: solid;
    border-radius: 25px;
}

.infobar {
   border-style: solid;
    border-radius: 25px;
}

.menu {
    border-style: solid;
    border-radius: 25px;

}

.content {
    border-style: solid;
    border-radius: 25px;

}