<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coin Organizer</title>
    <link href="../static/css/layout.css" th:href="@{../static/css/layout.css}" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{../static/css/style.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/script/loadpage.js"></script>

</head>
<body>
    <header>
        header
    </header>
    <div class="infobar">
        info bar
    </div>
    <div class="body">
        <div class="menu">

            <button th:href="test">
                Add Coin
            </button>
            <button class="addtran">
                Add Transaction
            </button>
            <button>
                Add Transaction Type
            </button>
            <button>
                Change Location
            </button>
            <button>
                Add Location
            </button>
            <button>
                Add Sublocation
            </button>
            <button>
                Add Vendor
            </button>
            <button>
                Add Coin Type
            </button>

        </div>
        <div class="content">
        </div>
    </div>
</body>
</html>